@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    /* https://dev.to/clairecodes/how-to-create-a-polka-dot-background-with-css-23m0  */
    background-image: radial-gradient(#00000010 3px, #ffffff00 0px);
    background-size: 24px 24px;
}

#logo {
  display: flex;
  justify-content: center;
}

#logo > img {
  max-width: 68px;
  filter:grayscale(1)
}

nav {
  background: linear-gradient(to top, #ffffff25, #00000025);
  padding: 0.5em;
  padding-left: 2em;
  padding-bottom: 1em;
  border: 1px solid black;
  margin-bottom: 0.5em;
}


/*  ************
    ** Footer **
    ************
    @Sources https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
footer {
  display: flex;
  justify-content: center;
  padding: 1em;
}

footer p > a{
  text-decoration: none;
  color: #000;
  position: relative;
}

footer p > a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

footer p > a:hover:before{

  visibility: visible;
  transform: scaleX(1);
  background-color: #ffcc00;
}

figure > img {
  max-width: 300px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

main a {
  height: 496px;
  padding: 0.5em;
  background-color: #EEEEEE;
  transition: box-shadow .5s;
}

main a:hover {
  box-shadow: 0.3rem 0.3rem #00000050;
}

main article p {
  max-width: 284px;
}

#detail {
  display: inline-grid;
  background-color: #EBFCFB;
  grid-template-columns: 1fr auto;
  grid-gap: 1em;
}

#detail section:nth-child(2) {
  padding: 1em 2em 0.5em 0.5em;
  grid-column: 2 / 3;
}

a {
  text-decoration: none;
}

.loader::after {
  content: '';
  animation: loading 2s ease-in infinite;
  animation-delay: 10ms;
  width: 10px;
}


@keyframes loading {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}

#button {
  width: 100%;
  height: 2em;
  /* border: #000 1px solid; */
  border-radius: 5px;
  padding: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  transition: background-color 1s ease, color 0.5s ease;
  padding-left: calc(52% - 40px);
}

#button:hover{
  background-color: #ffcc00;
  color: white;
  box-shadow: none;
}
